<%- include("layout") %>
  <h1><%= title %></h1>
  <ul>
    <% if (Object.keys(genre_list).length) { %>
      <% genre_list.forEach(genre => { %>
      <li>
        <a href="<%= genre.url %>"><%= genre.name %></a>
      </li>
      <% }) %>
    <% } else { %>
      <li>
        There are no genres.
      </li>
    <% } %>
  </ul>
<%- include("layout_end") %>